<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/louvrescommande/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/louvrescommande/css/style.css') }}" />


</head>
<body style="background-color: white; width: 60%">

    <div class="encart_gris" style="background-color: white">
        <div class="container-fluid">
            <p>Votre commande</p>
        </div>
    </div>


    <div>
            {% for billet in  commande.billets %}
                <div id="detail_commande" style="background-color: white">
                    <div class="row">
                        <div class="col-xs-9">
                            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/louvrescommande/images/logo_louvre.png') }}" alt="Logo du Louvres" />
                            <p>Réservation n°{{ commande.code }}</p>
                        </div>
                        <div class="col-xs-3">
                            <img src="{{ qrcode_data_uri(commande.code) }}" />
                        </div>
                    </div>
                        <p>Jour de la visite : {{ commande.dateVisite|date('d/m/Y') }}</p>
                        <p>Type de billet : {{ commande.typeBillet}}</p>
                        <p>{{ billet.nom }} {{ billet.prenom }} : tarif {{ billet.tarifCalcule }} </p>
                </div>
            {% endfor %}

        <div class="total_commande">
            <p><strong>Total de la commande : {{ commande.prixTotal|number_format(2, ',') }} €</strong></p>
        </div>
    </div>
</body>
</html>

