<div class="form-horizontal row formulaire_a_copier">
    <fieldset>
        <legend>Billet</legend>
        <div class="row champs">
            <div class="form-group input_form col-xs-12 col-sm-3">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control input-sm'}}) }}
                <!--   <input name="nom" id="nom" placeholder="Nom" class="form-control input-sm" type="text" required> -->
                <span class="error">Saisir au moins 2 caractères</span>
            </div>
            <div class="form-group input_form col-xs-12 col-sm-3">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control input-sm'}}) }}
                <span class="error">Saisir au moins 2 caractères</span>
            </div>

            <div class="form-group input_form col-xs-12 col-sm-3">
                {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control input-sm'}}) }}
                <!--    <input name="date_naissance" id="date_naissance" placeholder="Date de naissance" class="form-control input-sm" type="text"> -->
                <span class="help-block">Format attendu : XX/XX/XXXX</span>
                <span class="error">Date invalide</span>
            </div>
            <div class="form-group input_form col-xs-12 col-sm-3">
                {{ form_widget(form.pays, {'attr': {'class': 'form-control input-sm'}} ) }}
            </div>
        </div>
        <div class="row reduit">
            <label class="checkbox-inline">
                {{ form_widget(form.reduit) }}
                {{ form_label(form.reduit) }}
            </label>
        </div>
    </fieldset>
</div>